<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Dev Tools"
            id="com.byc.tools.patch.commands.category">
      </category>
      <command
            name="Make Patch"
            categoryId="com.byc.tools.patch.commands.category"
            id="com.byc.tools.patch.commands.MakePatchCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.byc.tools.patch.commands.MakePatchCommand"
            class="com.byc.tools.patch.handlers.MakePatchHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.byc.tools.patch.commands.MakePatchCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Dev Tools"
               mnemonic="M"
               id="com.byc.tools.patch.menus.toolsMenu">
            <command
                  commandId="com.byc.tools.patch.commands.MakePatchCommand"
                  mnemonic="S"
                  id="com.byc.tools.patch.menus.MakePatchCommand">
            </command>
         </menu>
      </menuContribution>
      <!--<menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.byc.tools.patch.toolbars.devToolsToolbar">
            <command
                  commandId="com.byc.tools.patch.commands.MakePatchCommand"
                  icon="icons/sample.gif"
                  tooltip="Make patch"
                  id="com.byc.tools.patch.toolbars.MakePatchCommand">
            </command>
         </toolbar>
      </menuContribution>-->
   </extension>

</plugin>
